body {
}

.btn-group-vertical {
    width: 20%;
    height: 250px;
    padding-top: 5px;
}

.list-group-item {
    background-color: lightgray;
    color:black;
}

.list-group
{
    height:auto;
    background-color:lightgray;
    text-align:center;
}
h2 
{
    color:darkcyan
}